<div class="alert alert-secondary mt-4">
    <span class="oi oi-pencil me-2" aria-hidden="true"></span>
    <strong>@Title</strong>

    <span class="text-nowrap">
        Please give a star if it works for you,
        <a target="_blank" class="font-weight-bold link-dark" href="https://github.com/NeshoNeshev/BlazorWebAssembly-Template">Github repository</a>
    </span>
    and tell me what you think.
</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string? Title { get; set; }
}
