@page "/administration"
@using BlazorWebAssembly.Web.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.ComponentModel.DataAnnotations

@attribute [Authorize(Roles = "Administrator")]
@inject HttpClient Http

<PageTitle>Admin</PageTitle>

<h1>Test</h1>

<p>This component demonstrates fetching data from the server.</p>
 <button @onclick="OnPost">
        Update heading
    </button>
@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{   
   <p>@forecasts.Name</p>

}
<EditForm Model="@inputModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>
        <label>
            Name:
            <InputText @bind-Value="inputModel.Name" />
        </label>
    </p>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private DemoViewModel? forecasts;

    private DemoInputModel inputModel;

    protected override async Task OnInitializedAsync()
    {
        inputModel = new DemoInputModel();

        try
        {
            forecasts = await Http.GetFromJsonAsync<DemoViewModel>("DemoAdministration");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
     private void HandleValidSubmit()
    {
       Http.PostAsJsonAsync("DemoAdministration", inputModel.Name);

        // Process the valid form
    }
    public async Task OnPost()
    {
        
        var response = await Http.GetAsync("/DemoAdministration");

    }

}